<body>
    <main>
    <div class="admin-wrapper">
        <!--left sidebar-->
        <div class="left-sidebar">
            <ul>
                <li><a routerLink='/create-post'>Create Post</a></li>
                <li><a routerLink='/admin'>Manage Posts</a></li>
                <li><a routerLink='/users'>Manage Users</a></li>
                <li><a routerLink='/topics'>Manage Topics</a></li>
                <li><a (click)="onLogout()" class="logout" style="color: red; cursor: pointer">Logout</a></li>
            </ul>
        </div>

        <!--admin content-->
        <div class="admin-content">
            <div class="content">
              <div *ngIf="userDetails">
                <h3>Hello, {{userDetails.fname}} </h3>
                <p style="font-style: italic;"><b>Username:</b> {{userDetails.username}}
                <b> Role:</b> {{userDetails.role}}
                <b> Email:</b> {{userDetails.email}}</p>
                <h5>Admin Dashboard: Manage Topics</h5>
            </div>

                <table>
                    <thead>
                        <th>SN</th>
                        <th>Category</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let topic of topics">
                            <td>{{topic._id}}</td>
                            <td>{{topic.category}}</td>
                            <td><a href="#" class="edit">edit</a></td>
                            <td><a href="#" class="delete">delete</a></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </main>
</body>
