<div class="trending-wrapper">
    <h1>TRENDING</h1>
    <div class="trending-post">

        <h2> TREND 1</h2>
        <i>description</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="trending-post">
        <h2>TREND 2</h2>
        <i>description</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="trending-post">
        <h2>TREND 3</h2>
        <i>description</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="trending-post">
        <h2>TREND 4</h2>
        <i>description</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="trending-post">
        <h2>TREND 5</h2>
        <i>description</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>