<div id="secondary-nav">
    <ul>
      <li class="navlinks-2" routerLink="/trending">Trending Posts</li>
      <li class="navlinks-2" routerLink="/posts">Recent Posts</li>
      <li class="navlinks-2" routerLink="/tags">Topics</li>
    </ul>
  </div>

<div class="trending-wrapper">
    <h1>TRENDING</h1>
    
    <div class="trending-post" *ngFor="let trendingPost of trendingPosts">
        <h2>{{trendingPost.title}}</h2>
        <p>{{trendingPost.postDescription}}</p>
        <p>Likes: ({{trendingPost.likes}})</p>
    </div>
</div>