
body {

    height: 100%;
    padding: 0px;
    margin: 0px;
    
    font-family: 'Lora', serif;
}
/*main {
    display: block; 
    background-color: aqua;    
  

}*/
.page-wrapper {
    min-height: 100%; 
   
}
.content {
    width: 90%;
    margin: 30px auto 30px;
    background-color: #6f3637;

}
.post {
    border:10px solid rgb(207, 205, 205);
   
}

/* left member profile */

.content .members-profile-left .post .profile-image {
    margin-left: 25px;
    margin-top: 7px;
    width: 30%;
    height: 95%;
    float: left;
    border-radius: 50%;
}


.members-profile-left {
    width: 85%;
    float: left;
}

.members-profile-left .post {
    width: 95%;
    height: 280px;
    margin: 20px auto;
    border-radius: 5px;
    background: whitesmoke;
    position: relative;
}
.members-profile-left .post .post-preview {
    width: 60%;
    float: right;
    margin-top: 22px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}


.members-profile-left .post .profile-image {
    width: 30%;
    height: 50px;
    float: left;
    border-radius: 50%;
}

 .members-profile-left .post .post-preview .social-apps a,
.members-profile-right .post .post-preview .social-apps a {
        border: 1px solid #00152e;
        width: 35px;
        height: 31px;
        padding-top: 3px;
        margin-right: 3px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        border-radius: 5px;
        transition: .4s;
}
/*right members profile */
.content .members-profile-right .post .profile-image {
    margin-right: 25px;
    margin-top: 7px;
    width: 30%;
    height: 95%;
    float: right;
    border-radius: 50%;
}

 .members-profile-right .post .post-preview {
    width: 60%;
    float: left;
    margin-top: 22px;
    padding: 10px; 
    background-color:whitesmoke;
    border-radius: 5px;
}

.members-profile-right {
    width: 85%;
    float: right;
}

.members-profile-right .post {
    width: 95%;
    height: 280px;
    margin: 20px auto;
    border-radius: 5px;
    background: whitesmoke;
    position: relative; 

}
.members-profile-right .post .profile-image {
    width: 30%;
    height: 50px;
    float: right;
    border-radius: 50%;
}
/*texts */

h1 {
    text-align: center;
    color:#6186a8;
} 
h2 {
    font-size: 30px;
    font-style: italic;
}



