<body>
    <main>
        <div class="content clearfix">

            <h1 class="recent-post-title">The SpeakOut Team</h1>
            <!--1st member-->
            <div class="members-profile-left">
                <div class="post">
                    <!--  <img src="img/profile-pics/andrea.jpg" alt="" class="profile-image">-->
                    <div class="post-preview">
                        <h2>Mark Jabel Frias</h2>
                        <i class="far fa-user">Information Technology Student</i>

                        <p class="preview-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Voluptate illo consequatur ipsam illum, quia facilis.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <!--2nd Member -->
            <div class="members-profile-right">
                <div class="post">
                    <img src="" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Joelson Tatenda Mvundura</h2>
                        <i class="far fa-user"> Information Technology Student</i>

                        <p class="preview-text">

                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--3rd member-->
            <div class="members-profile-left">
                <div class="post">
                <img src="/frontend/src/assets/Img/adeline.jpg" alt="" class="profile-image"-->
                    <div class="post-preview">
                        <h2>Adeline Uwibambe</h2>
                        <i class="far fa-user"> Information Technology Student </i>

                        <p class="preview-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Voluptate illo consequatur ipsam illum, quia facilis.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>




            <!--4th Member-->
            <div class="members-profile-right">
                <div class="post">
                    <img src="" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Antoinette Alafia Hall</h2>
                        <i class="far fa-user"> Information Technology Student</i>

                        <p class="preview-text">

                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!---5th Member-->

            <div class="members-profile-left">
                <div class="post">
                   <!-- <img src="/frontend/src/assets/Img/andrea.jpeg" alt="" class="profile-image"> -->
                    <div class="post-preview">
                        <h2>Andrea Bullos</h2>
                        <i class="far fa-user"> Andrea Bullos</i>

                        <p class="preview-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Voluptate illo consequatur ipsam illum, quia facilis.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>