<main>
    <div class="page-wrapper">
        <!--Members Information-->
        <div class="content clearfix">

            <h1 class="recent-post-title">The SpeakOut Team</h1>

            <!--1st member-->
            <div class="members-profile-left">
                <div class="post">
                    <img src="assets/Img/jabel.jpg" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Mark Jabel Frias</h2>
                        <i class="far fa-user"> Information Technology Student</i>

                        <p class="preview-text">
                            I am a sophomore IT student at the Adventist University of the Philippines focusing on web development.
                            I aspire to be a good web developer or software engineer because technology has a lot of potential to solve our problems.
                            Meanwhile, when I don't code, I love to eat and watch a lot of series.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--2nd Member -->
            <div class="members-profile-right">
                <div class="post">
                    <img src="assets/Img/joelson.jpg" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Joelson Tatenda Mvundura</h2>
                        <i class="far fa-user"> Information Technology Student</i>

                        <p class="preview-text">
                            I am passionate about interactive media, and in an age of digital world,
                            I believe bringing design to life with code is essential.
                            So, I specialise in a multi-disciplined approach to my work incorporating design and development.
                            I am currently studying Bachelor of Science in Information Technology at the Adventist University of the Philippines,
                            Philippines.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--3rd member-->
            <div class="members-profile-left">
                <div class="post">
                <img src="assets/Img/adeline.jpg" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Adeline Uwibambe</h2>
                        <i class="far fa-user"> Information Technology Student </i>

                        <p class="preview-text">
                            My name is Adeline Uwibambe. I am from Rwanda, i am currently living and studying in the Philippines.
                            I graduated High School in May of 2018 at AUPA. currently i'm a second year Information Technology student at the
                            Adventist University of the Philippines. I am hoping to graduate by 2022.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--4th Member-->
            <div class="members-profile-right">
                <div class="post">
                    <img src="assets/Img/antointte.jpg" alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Antoinette Alafia Hall</h2>
                        <i class="far fa-user"> Information Technology Student</i>

                        <p class="preview-text">
                            My name is Antoinette Hall. I am from England. I graduated highschool in June 2018 from Taiwan Adventist International School. I am 
                            a second year Information Technology student at Adventist University of the Philippines where i'm dying.

                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!---5th Member-->

            <div class="members-profile-left">
                <div class="post">

                    <img src="assets/Img/andrea.jpeg"alt="" class="profile-image">
                    <div class="post-preview">
                        <h2>Andrea Bullos</h2>
                        <i class="far fa-user"> Information Technology</i>

                        <p class="preview-text">
                            My name is Andrea Bullos, I am 20 years old, i live in Sta. Rosa City.
                            I graduated High School from Seven Pillars Catholic School. 
                            currently i am taking Information Technology at the Adventist University of the Philippines also I like warm hugs.
                        </p>
                        <div class="social-apps">
                            <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
