<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 style="font-family: Poppins, sans-serif;">Create a new account</h1>
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
      <input type="text" #fname="ngModel" [(ngModel)]="userService.selectedUser.fname" name="fname" placeholder="First Name"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fname.valid }">
      <div *ngIf="signUpForm.submitted && !fname.valid">
        <label class="validation-message">First name is required.</label>
      </div>

      <input type="text" #lname="ngModel" [(ngModel)]="userService.selectedUser.lname" name="lname" placeholder="Last Name"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lname.valid }">
      <div *ngIf="signUpForm.submitted && !lname.valid">
        <label class="validation-message">Last name is required.</label>
      </div>

      <input type="text" #username="ngModel" [(ngModel)]="userService.selectedUser.username" name="username" placeholder="Username"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !username.valid }">
      <div *ngIf="signUpForm.submitted && !username.valid">
        <label class="validation-message">Username is required.</label>
      </div>

      <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
      required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
      <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">Email is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>

      <input type="text" #address="ngModel" [(ngModel)]="userService.selectedUser.address" name="address" placeholder="Physical address"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !address.valid }">
      <div *ngIf="signUpForm.submitted && !address.valid">
        <label class="validation-message">Physical address is required.</label>
      </div>

      <input type="text" #phoneNumber="ngModel" [(ngModel)]="userService.selectedUser.phoneNumber" name="phoneNumber" placeholder="Phone Number"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !phoneNumber.valid }">
      <div *ngIf="signUpForm.submitted && !phoneNumber.valid">
        <label class="validation-message">Phone number is required.</label>
      </div>

      <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
      minlength="8" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
      <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">Password is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter at least 8 characters.</label>
      </div>

      <input type="text" #role="ngModel" [(ngModel)]="userService.selectedUser.role" name="role" placeholder="Role"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !role.valid }">
      <div *ngIf="signUpForm.submitted && !role.valid">
        <label class="validation-message">Role is required. (your office, ex. Admin)</label>
      </div>
      <input type="submit" value="Sign Up">
    </form>

    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
      New account has been created successfully
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

    <div style="padding: 15px; font-family: Poppins, sans-serif;">
      Already have an account? You can login <a routerLink='/login'>HERE</a>
    </div>
  </div>
</div>
