<body>
    <main>
        
        <form action="#" method="post">
            <h2>Sign Up</h2>
                <p> 
                    <label for="username" class="floatLabel">Username</label>
                    <br>
                    <input id="username" name="username" type="text
                    ">
                </p>
                <p>
                    <label for="Email" class="floatLabel">Email</label>
                    <br>
                    <input id="Email" name="Email" type="text">
                </p>
                <p>
                    <label for="password" class="floatLabel">Password</label>
                    <br>
                    <input id="password" name="password" type="password">
                    <span>Enter a password longer than 8 characters</span>
                </p>
                <p>
                    <label for="confirm_password" class="floatLabel">Confirm Password</label>
                    <br>
                    <input id="confirm_password" name="confirm_password" type="password">
                    <span>Your passwords do not match</span>
                </p>
                <p>
                    <input type="submit" value="Create My Account" id="submit">
                </p>
        </form>
    </main>
</body>
