<body>
    <main>
        
        <form action="#" method="post">
            <h2>Sign Up</h2>
                <p> 
                    <label for="fname" class="floatLabel">First Name</label>
                    <br>
                    <input id="fname" name="fname" type="text">
                </p>
                <p> 
                    <label for="lname" class="floatLabel">Last Name</label>
                    <br>
                    <input id="lname" name= "lname" type="text">
                </p>
                <p> 
                    <label for="username" class="floatLabel">Username</label>
                    <br>
                    <input id="username" name="username" type="text">
                </p>
                <p>
                    <label for="Email" class="floatLabel">Email</label>
                    <br>
                    <input id="Email" name="Email" type="text">
                </p>
                <p> 
                    <label for="address" class="floatLabel">Address</label>
                    <br>
                    <input id="fname" name="fname" type="text">
                </p>
                <p> 
                    <label for="phoneNumber" class="floatLabel">Phone Number</label>
                    <br>
                    <input id="phoneNumber" name="phoneNumber" type="number">
                </p>
                <p>
                    <label for="password" class="floatLabel">Password</label>
                    <br>
                    <input id="password" name="password" type="password">
                    <br>
                    <span>Enter a password at least 8 characters long</span>
                </p>
                <p>
                    <label for="confirm_password" class="floatLabel">Confirm Password</label>
                    <br>
                    <input id="confirm_password" name="confirm_password" type="password">
                </p>
                <p> 
                    <label for="role" class="floatLabel">Please select a role:</label><br>

                    <input type="radio" id="user" name="role" value="user">
                    <label for="user">User</label><br>

                    <input type="radio" id="manager" name="role" value="manager">
                    <label for="manager">Manager</label><br>

                    <input type="radio" id="developer" name="role" value="developer">
                    <label for="developer">Developer</label><br>
                </p>
                <p>
                    <input type="submit" value="Create My Account" id="submit">
                </p>
        </form>
    </main>
</body>
