
nav {
    display:flex;
    width: 100%;
    height: 12vh;
    margin-top: -10px;
    margin-left: -10px;
    padding:0px 0px 0px 45px;
    background-color: #6f3637;

}
img {
    width: 182px;
    height: 182px;
   margin: 0px;


}
a.navlinks {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    font-size: 20px;
    list-style: none;
   
   



}
/*link unvisited*/
a:link {
    margin: 0;
    color: rgb(247, 193, 56);
    text-decoration: none;
    padding-top: 5px


}

/*link visited*/
a:visited {
    color: #6186a8;
    text-decoration: none;
}
/*link hover*/
a:hover {
    color: goldenrod;

}

nav > ul {
   display: flex;
   list-style: none;
   font-size: 30px;
   margin-left: 25%;
  
   


}

.navlinks {
  /*  margin-right: 5vw;*/
    cursor: pointer;

}
.adminbtn {
    cursor: pointer;
    list-style: none;
    list-style: none;
    color:rgb(75, 75, 235);
    float: right;

}
a.adminbtn {
    padding: 35px;
    display: flex;
    text-align: center;
    margin-left: 90%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
.loginbtn {
    list-style: none;
    cursor: pointer;
    list-style: none;
    list-style: none;
    color:rgb(75, 75, 235);
    float: right;
}
a.loginbtn {
    padding: 35px;
    display: flex;
    text-align: end;
    margin-left: 85%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}


#secondary-nav > ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin-left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.navlinks-2 {

    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
  


}
li.navlinks-2 {
    color: #2b2e4a;
    display: inline-block;


}

@import url(http://fonts.googleapis.com/css?family=Raleway);
h2{
background-color: #FEFFED;
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}
hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
margin-bottom: 40px;
}
div.container{
width: 900px;
height: 610px;
margin:35px auto;
font-family: 'Raleway', sans-serif;
}
div.main{
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
float:left;
margin-top:50px;
}
input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}


/*mobile responsive */


@media only screen and (max-width: 934px) {
    
    nav {
        display:flex;
        width: 100%;
        height: 8vh;
        background-color: #6f3637;
        
    }
    img {
        width: 142px;
        height: 142px;
       /* margin: 3px; */

    }
    a.navlinks {

        padding: 15px;
        font-size: 18px;

    }
    /*link unvisited */
    a:link {
        margin: 0;
        color: rgb(247, 193, 56);
        text-decoration: none;
        padding-top: 5px

    }

    /* link visited */
    a:visited {
        color: #6186a8;
        text-decoration: none;
    }
    /*link hover */
    a:hover {
        color: goldenrod;

    }

    nav > ul {
        width: 100%;
        max-height: 0px;
        position: absolute;
        margin-top: 6px;
        z-index: 1;
        display: flex;
        list-style: none;
        font-size: 30px;
      /* margin-left: 25%;*/


    }

    .navlinks {
        margin-right: 5vw;
        cursor: pointer;

    }
    .adminbtn {
        cursor: pointer;
        list-style: none;
        list-style: none;
        color:rgb(75, 75, 235);
        float: right ;

    }
    a.adminbtn {
        display: flex;
        text-align: end;
        margin-left: 90%;
        font-size: 15px;
        position: absolute;

    }
    .loginbtn {
        cursor: pointer;
        list-style: none;
        list-style: none;
        color:rgb(75, 75, 235);
        float: right ;
    }
    a.loginbtn {
        display: flex;
        text-align: end;
        margin-left: 86%;
        font-size: 15px;
        position: absolute;
    }
    #secondary-nav > ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: center;
        font-family: monospace;
        position: absolute;


    }

    .navlinks-2 {
        margin-right: 3vw;
        cursor: pointer;
        font-size: 18px;
        text-align: center;


    }
    li.navlinks-2 {
        color: #2b2e4a;
        display: inline-block;


    }

}
