@import url(http://fonts.googleapis.com/css?family=Raleway);
nav {
    width: 100%;
    background: maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Raleway', 'Arial';
    font-weight: 700;
    box-sizing: border-box;
}


/* Nav link logo container */
#image-container {
    padding: 1vh 0;
}

#logo-big {
    display: none;
}

#logo-small {
    height: 50px;
}

/* Navlink container */
#navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 2vw;
}

.navlinks {
    color: white;
    text-decoration: none;
}

/* Login button container */
#login-button-container {
    display: none;
}