<header>
  <nav>
  
    <div routerLink="/"></div>
    <img src="assets/Img/SPEAK OUT (EDITED).png">
  
    
  
  
    <ul>
      <a class="navlinks" routerLink="/"><li>Home</li></a>
      <a class="navlinks" routerLink="/contact"><li>Contact Us</li></a>
      <a class="navlinks" routerLink='/team'><li>Meet the Team</li></a>
    </ul>
    <a class="adminbtn"routerLink="/admin"><li>Admin</li></a>
    <a class="loginbtn"routerLink="/login"><li>Login</li></a>
  </nav> 
</header><main>


<div id="secondary-nav">
  <ul>
    <li class="navlinks-2" routerLink="/trending">Trending Posts</li>
    <li class="navlinks-2" routerLink="/posts">Recent Posts</li>
    <li class="navlinks-2" routerLink="/tags">Topics</li>
  </ul>
</div>
</main>

<router-outlet></router-outlet>