<div id="banner">
    <h2>Welcome to Speakout</h2>
    <p>Speakout is a platform for AUP students to voice out their concerns about the university without the shenanigans
        of faking your college or batch. Start exploring articles by going to the blog or continue reading here to know
        more about the features of this website.</p>

    <button class="button" id="button-top" routerLink="/posts">Go to blog</button>


</div>

<div class="strips" id="strip-1">
    <img src="assets/Img/undraw_anonymous_feedback_y3co.svg">

    <div class="strip-text-container">
        <h3 class="strip-header">Anonymous</h3>
        <p class="strip-description">Create an article for submission without divulging any of your identity. Your
            privacy and protection is our priority</p>
    </div>

</div>
<div class="strips" id="strip-2">

    <img src="assets/Img/undraw_blogging_vpvv.svg">

    <div class="strip-text-container">
        <h3 class="strip-header">Powerful content creation tool</h3>
        <p class="strip-description">The blog includes a powerful text editor that includes options to include images,
            lists, and headers enabling everyone to draft awesome content-rich articles.</p>
    </div>
</div>

<div class="strips" id="strip-3">

    <img src="assets/Img/undraw_public_discussion_btnw.svg">

    <div class="strip-text-container">
        <h3 class="strip-header">Discuss anonymously</h3>
        <p class="strip-description">Every article is tooled with a comments section where anyone can interact with the
            posts anonymously.</p>
    </div>
</div>

<div class="strips" id="strip-4">
    <img src="assets/Img/undraw_verified_tw20.svg">

    <div class="strip-text-container">
        <h3 class="strip-header">Fact checking and trigger warnings</h3>
        <p class="strip-description">Compared to other platforms where users can post anonymously, our platform includes
            fact-checking and trigger warnings. This ensures that the reader can be informed if the post has unverified
            information and the user can also be informed if there are undesirable content included.</p>
    </div>
</div>

<div id="start-here-banner" class="strips">
    <h3>What are you waiting for?</h3>

    <div id="buttons-container">
        <button id="button-bottom" class="button" routerLink="/request">Submit an article now</button>
        <button id="button-bottom" class="button" routerLink="/posts">Go to blog</button>
    </div>
</div>