
* {
    background-color:#a18586;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
  
.contact-form {
    text-align: left;
    width: 40%;
    margin-left: 30%;
    padding: 30px;
   
}
.form-input-fname input{
    text-align: left;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    padding: 10px 30px 10px 5px;
    margin:5px;
    background-color:whitesmoke;

}

.form-input input {
background-color: whitesmoke;
width: 95%;
padding: 15px 5px;
cursor: pointer;
font-size: 13px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
 .form-input-message input {
    width: 95%;
    padding: 15px 5px;
    padding-bottom: 150px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

.form-submit {
    font-size: 25px;
    text-align:center;
    

}
.btn-submit {
    text-decoration: none;
    background-color: rgb(163, 163, 199,0.3);
    color: rgb(224, 37, 37);
    padding: 0px 7px 7px 7px;
    border-radius: 5px;
}

a.link {
    margin: 0;
    color: rgb(247, 193, 56);
    text-decoration: none;
    padding-top: 5px 
}
a:visited {
    color: yellow;
}
a:hover{
    color: goldenrod;
}
h1 {
    font-size: 35px;
    text-align: center;
}

/* Styles starting at 1024 width and below (tablets) */
@media screen and (max-width: 1070px) and (min-width: 600px) {
   .contact-form {
        margin-top: 10%;
        height: 50%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding:30px;
    }
    .form-input-fname input{
        text-align: left;
        width: 90%;
        padding:5px 25px 5px 0px;
        margin:2px;
        background-color:whitesmoke;
        font-size:13px;
    }    
    .form-submit {
        font-size: 15px;
        text-align:center;
       

}
.form-input-message input {
    width: 95%;
    padding: 15px 5px;
    padding-bottom: 90px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    }
 }
@media screen and (max-width: 835px) and (min-width: 645px) {
    .contact-form {
        height:50%
    }
    .form-input-fname input{
        text-align: left;
        width: 90%;
        height:80%;
        padding:5px 25px 5px 0px;
        margin:2px;
        background-color:whitesmoke;
        font-size:13px;
    }    

}
@media screen and (max-width: 742px) and (min-width: 535px) {
    .contact-form {
        width: 50%;
        margin-left: 19%;
    }
    .form-input-fname input {
        width: 50%;
        padding:5px 125px 5px 0px;
        font-size: 13px;
    }
    


}

