<body>
    <main>
        <h1>Contact</h1>
        <div class="contact-form">
            <label class="form-label">First Name</label>

            <div class="form-input">
                <input class="form-input-text" id="fname" type="First Name" placeholder="FIRST NAME">
            </div>

            <label class="form-label">Last Name</label>

            <div class="form-input">
                <input class="form-input-text" id="fname" type="Last Name" placeholder="LAST NAME">
            </div>
            <label class="form-label">Email</label>

            <div class="form-input">
                <input class="form-input-text" id="fname" type="First Name" placeholder="EMAIL">
            </div>
            <label class="form-label">Message</label>

            <div class="form-input">
                <input class="form-input-text" id="fname" type="First Name" placeholder="MESSAGE">
            </div>
    

        <div class="form-submit">
            <a onmouseover="appendMailTo()" id="sendMail" href="mailto:andreabullos99@gmail.com" class="btn-submit">Submit</a>
        </div>
</div>
    </main>
</body>