
        <h1>Contact Us</h1>
        <div class="contact-form">
           
            <label class="form-label"> Name</label>

            <div class="form-input-fname">
                <input class="form-input-text" id="fname" type="First Name" placeholder="FIRST NAME">
     
                <input class="form-input-text" id="lname" type="Last Name" placeholder="LAST NAME">
            </div>
            <label class="form-label">Email</label>

            <div class="form-input">
                <input class="form-input-text" id="email" type="Email" placeholder="EMAIL">
            </div>
            <label class="form-label">Post Title</label>

            <div class="form-input">
                <input class="form-input-text" id="title" type="Post Title" placeholder="TITLE">
            </div>
            <label class="form-label">Description</label>

            <div class="form-input">
                <input class="form-input-text" id="description" type="Description" placeholder="POST DESCRIPTION">
            </div>


            <label class="form-label">Message</label>

            <div class="form-input-message">
                <input class="form-input-text" id="message" type="Message" placeholder="MESSAGE">
            </div>
            <label class="form-label">Author (Optional)</label>

            <div class="form-input">
                <input class="form-input-text" id="author" type="Author" placeholder="AUTHOR">
            </div>
            
    

        <div class="form-submit">
            <a onmouseover="appendMailTo()" id="sendMail" href="mailto:andreabullos99@gmail.com" class="btn-submit">Submit</a>
        </div>
</div>

