<body>
    <main>
    <header>
        <!--<div class = "logo">
            <img src="../../assets/Img/SPEAK OUT (EDITED).png" alt="" class="logo-image">
        </div>-->
        <i class="fa fa-bars menu-toggle"></i>
        <ul class="nav">
            <li><a href="#">Username</a></li>
                    <!--<i class = "fa fa-user"></i>
                        Username
                    <i class = "fa fa-chevron-down"></i>-->

            <li><a href = "" class="logout">Logout</a></li>

        </ul>
    </header>

    <div class="admin-wrapper">
        <!--left sidebar-->
        <div class="left-sidebar">
            <ul>
                <li><a href="index.html">Manage Posts</a></li>
                <li><a href="../users/index.html">Manage Users</a></li>
                <li><a href="../topics/index.html">Manage Topics</a></li>
                <li><a href="../signup">Signup</a></li>
            </ul>
        </div>



        <!--admin content-->
        <div class="admin-content">
            <div class="content">
                <h2 class="page-title">Manage Users</h2>

                <table>
                    <thead>
                        <th>SN</th>
                        <th>UserName</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user._id}}</td>
                            <td>{{user.Username}}</td>
                            <td><a href="#" class="edit">edit</a></td>
                            <td><a href="#" class="delete">delete</a></td>

                        <!---
                        <tr>
                            <td>2</td>
                            <td>This is the second post</td>
                            <td>Joelson</td>
                            <td><a href="#" class="edit">edit</a></td>
                            <td><a href="#" class="delete">delete</a></td>
                            <td><a href="#" class="publish">publish</a></td>
                        </tr>
                      -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

 
    </main>
</body>

