<form [formGroup]="editPostForm" (keydown.enter)="$event.preventDefault()">

    <label>
        Title:
        <input type="text" formControlName="title">
    </label>

    <label>
        Description:
        <input type="text" formControlName="postDescription">
    </label>

    <label>
        Author (optional):
        <input type="text" formControlName="author">
    </label>

    <label>
        Body:
        
    </label>

    <label>
        Topics:
        <input type="text" formControlName="topics">
    </label>


    
</form>

<div id="editorjs"></div>
    <button (click)="onSave()">Save</button>
    <button type="button" [disabled]="!editPostForm.valid" (click)="onSubmit()">Submit</button>


<div *ngIf="bodyData != undefined">
    <div class="output" *ngFor="let block of bodyData.blocks">
        <p>{{block.data.text}}</p>
     </div>
</div>
