<h1 id="pageTitle">Edit Post</h1>

<form [formGroup]="editPostForm" (keydown.enter)="$event.preventDefault()">

    <label>
        Title:
    </label>
    <input type="text" formControlName="title">

    <label>
        Description:
    </label>
    <input type="text" id="description" formControlName="postDescription">


    <label>
        Author (optional):
    </label>
    <input type="text" formControlName="author">

    <label>
        Topics:
    </label>
   

    <label id="bodyLabel">
        Body:
    </label>


    
</form>


<div id="editorjs"></div>
    <button type="button" [disabled]="!editPostForm.valid" (click)="onSubmit()">Submit</button>


<!--<div *ngIf="bodyData != undefined">
    <div class="output" *ngFor="let block of bodyData.blocks">
        <p>{{block.data.text}}</p>
     </div>
</div> -->
