<body>
    <main>
        <h2>Recent Posts</h2>


        <!--Need to change code below. Use structural directives later-->
        <div class="recent-posts">
            <div class="post">
                <h3>POST 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </p>
            </div>

            <div class="post">
                <h3>POST 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </p>
            </div>
            <div class="post">
                <h3>POST 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </p>
            </div>
        </div>

        <div class="sidebar">
            <div class="search-section">
                <div class="section search">
                    <h2 class="section-title">Search</h2>
                    <form action="index.html" method="post">
                        <input type="text" name="search-term" class="text-input" placeholder="Search">
                    </form>
                </div>

                <div class="trending-section">
                    <h4>Trending</h4>
                    <ul>
                        <li>Trend # 1</li>
                        <li>Trend # 2</li>
                        <li>Trend # 3</li>
                        <li>Trend # 4</li>
                        <li>Trend # 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>