h2 {
    font-size: 35px;
    font-style: italic;
    color: rgb(39, 57, 58);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    text-align: center;
}
div {
    background-color: rgb(172, 152, 152, 0.3);

    margin: 50px 80px 25px 80px;
    border: dotted;
   
    text-align: center;


}
p {
   padding: 5px;
    text-align: justify;
    font-size: 15px;
}

.post {
    border-radius: 5px;
    position: relative;
}