<body>
    <main>
        <h2>Recent Posts</h2>
        <!--Need to change code below. Use structural directives later-->
        <div class="recent-posts">

            <div class="post" *ngFor="let post of posts | slice:0:5">
                <h3>{{post.title}}</h3>
                <p>{{post.timestamp}}</p>
                <i class="description">{{post.description}}</i>
                <p>{{post.postBody}}</p>
                <a href="">Likes ({{post.likes}})</a>
                <a href="">Comments</a>
                <a href="">Share ({{post.share}})</a>
            </div>
        </div>

        <div class="sidebar">
            <div class="search-section">
                <div class="section search">
                    <h2 class="section-title">Search</h2>
                    <form action="index.html" method="post">
                        <input type="text" name="search-term" class="text-input" placeholder="Search">
                    </form>
                </div>

                <div class="trending-section">
                    <h4>Trending</h4>
                    <ul>
                        <li *ngFor="let trendingPost of trendingPosts"><a href="/trending">{{trendingPost.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
