<div id="article-container">
    
    <div id="article-head">
        <h1 id="title">{{articles.title}}</h1>
        <h2 id="description">{{articles.postDescription}}</h2>
    </div>

    <div class="meta-details">
        <span *ngIf="articles.author != undefined">By {{articles.author}}</span>
        <span *ngIf="articles.author === undefined">By Anonymous</span>
        &nbsp;
        <span>|</span>
        &nbsp; 
        <span>Date written: {{articles.timestamp}}</span>
    </div>
    

    <div id="body" *ngIf="articles.postBody[0] != undefined">
        <div class="blocks" *ngFor="let block of articles.postBody[0].blocks">
            <p class="paragraph-block" *ngIf="(block.type).includes('paragraph')" [innerHTML]="block.data.text"></p>
            <img class="image-block" [src]="block.data.file.url" *ngIf="(block.type).includes('image')">
            <h2 class="header-block" *ngIf="(block.type).includes('header')" [innerHTML]="block.data.text"></h2>
            <div class="ol-list-block" *ngIf="(block.type).includes('list') && (block.data.style).localeCompare('ordered') == 0">
                <ol>
                    <li *ngFor="let item of block.data.items">{{item}}</li>
                </ol>
            </div>
    
            <div class="ul-list-block" *ngIf="(block.type).includes('list') && (block.data.style).includes('unordered')">
                <ul>
                    <li *ngFor="let item of block.data.items">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="comments-bar">
        
            <img src="assets/Img/speech-bubble.svg" alt="Comment dialog icon">
            <button (click)="toggleCommentsBox()">Show Comments</button>
        
        
       
            <img src="assets/Img/thumb-up.svg" alt="Like icon">
            <button (click)="likeButtonAction(articles._id)">Like {{articles.likes}}</button>
        
        
    </div>

    <div class="comments-section" *ngIf="!commentsHidden">
    <h2>Comments</h2>
    <div class="comments" *ngFor="let article of articles.comments">{{article}}</div>

    <form id="newForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <label>
            Comment:
            
        </label>
        <input id="comments-form" type="text" formControlName="comments">

       

        <button type="submit" [disabled]="!commentForm.valid" (click)="onSubmit()">Submit</button>
    </form>
</div>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>








<!--<input type="file" (change)="onFileSelect($event)">
<button type="submit" (submit)="onSubmit()">Submit</button>
<img [src]="url"> -->
