@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
    font-family: raleway;
}

.comments {
    width: 30vw;
    height: auto;
    background-color: green;
    margin-bottom: 5px;
    padding: 10px;
}