    <h1 id="title">{{articles.title}}</h1>
    <h2 id="description">{{articles.postDescription}}</h2>

    <div id="body" *ngIf="articles.postBody[0] != undefined">
        <div class="blocks" *ngFor="let block of articles.postBody[0].blocks">
            <p class="paragraph-block" *ngIf="(block.type).includes('paragraph')" [innerHTML]="block.data.text"></p>
            <img class="image-block" [src]="block.data.file.url" *ngIf="(block.type).includes('image')">
            <h2 class="header-block" *ngIf="(block.type).includes('header')" [innerHTML]="block.data.text"></h2>
            <div class="list-block" *ngIf="(block.type).includes('list')">
                <ul *ngFor="let item of block.data.items">
                    <li>{{item}}</li>
                </ul>
            </div>
        </div>
    </div>



<!--<div class="comments-section">
    <h2>Comments</h2>
    <div class="comments" *ngFor="let article of articles.comments">{{article}}</div>

    <div class="comment-post">
       <input type="text" [formControl]="comment" >
       <input type="button" value="Submit" (click)="showComment()">
       <p>{{commentData}}</p>
    </div>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <label>
            Comment:
            <input type="text" formControlName="comments">
        </label>

       

        <button type="submit" [disabled]="!commentForm.valid">Submit</button>
    </form>
</div> -->

<!--<input type="file" (change)="onFileSelect($event)">
<button type="submit" (submit)="onSubmit()">Submit</button>
<img [src]="url"> -->
