<div class="wrapper fadeInDown">
      <div id="formContent">
        <h1 style="font-family: Poppins, sans-serif;">Edit User</h1>

          <label class="validation-message">First name is required.</label>
        </div>
        <label>First Name :</label>
        <input type="text" name="firstname" id="firstname"/>

        <label>Last Name :</label>
        <input type="text" name="lastname" id="lastname"/>

        <label>User Name :</label>
        <input type="text" name="username" id="username"/>

        <label>Password :</label>
        <input type="password" name="password" id="password"/>

        <label>Email :</label>
        <input type="text" name="email" id="email"/>

        <label>Address :</label>
        <input type="text" name="address" id="address"/>

        <label>Phone Number :</label>
        <input type="text" name="phonenumber" id="phonenumber"/>

        <label>Password :</label>
        <input type="text" name="password" id="password"/>

        <button class="btn btn-success">Update</button>
  </div>