@import url('https://fonts.googleapis.com/css?family=Poppins');

.body {
  
  font-family: Poppins, sans-serif;
 
}


nav {
  display:flex;
  width: 100%;
  height: 12vh;
  background-color: #6f3637;
  padding-left: 35%;
  margin-left: 300px;

}
.nav .li {
  list-style-type: none;
}
/* unvisited link */
a:link {
  color: #ce8054;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #b35340;
}

a.action-btn{
color: #302f2f ;
margin: 0px 5px;

}
a.action-btn:hover{
cursor: pointer;
}

a.action-btn.edit:hover {
color: orange;
}

a.action-btn.delete:hover {
color: red;
}

#toast-container {
top: auto !important;
right: auto !important;
bottom: 10%;
left:7%;
}

.admin-wrapper {
  display: flex;
  min-height: 100%;

}

.admin-wrapper .left-sidebar {
  flex: 1; /* 10% 0f the width */
  min-height: 100%;
  background: #0d243a;
}

.admin-wrapper .left-sidebar ul  {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;

}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  border-bottom: 1px solid #233342;
  transition: .4s;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background: #233342;
  transition: .4s;
}

.admin-wrapper .admin-content {
  flex: 9; /* 90% of the width */
  height: 100%;
  padding: 20px;

}

.admin-content .page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.button-group .btn-big{
  list-style: none;
  font-size: 15px;
  color: #b35340;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.publish {
  color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
  text-decoration: underline overline;
}

form div {
  margin-bottom: 15px;
}
/* Light mode */
@media (prefers-color-scheme: light) {
  main {
    background: white;
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  main, .admin-content {
    background: black;
    color: white;
  }
}


