<body>
    <main>
    <header>
        <!--<div class = "logo">
            <img src="../../assets/Img/SPEAK OUT (EDITED).png" alt="" class="logo-image">
        </div>-->
  
        
    </header>
    <br>
    <div class="admin-wrapper">
        <!--left sidebar-->
        <div class="left-sidebar">
            <ul>
                <li><a href="index.html">Manage Posts</a></li>
                <li><a href="../users/index.html">Manage Users</a></li>
                <li><a href="../topics/index.html">Manage Topics</a></li>
                <li><a href="../signup">Signup</a></li>
                <li><a href = "" class="logout">Logout</a></li>
            </ul>
        </div>

        <!--admin content-->
        <div class="admin-content">
            <div class="content">
                <h2 class="page-title">Manage Posts</h2>

                <table>
                    <thead>
                        <th>SN</th>
                        <th>Title</th>
                        <th>Author</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts">
                            <td>{{post._id}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.author}}</td>
                            <td><a href="#" class="edit">edit</a></td>
                            <td><a href="#" class="delete">delete</a></td>
                            <td><a href="#" class="publish">publish</a></td>

                        <!---
                        <tr>
                            <td>2</td>
                            <td>This is the second post</td>
                            <td>Joelson</td>
                            <td><a href="#" class="edit">edit</a></td>
                            <td><a href="#" class="delete">delete</a></td>
                            <td><a href="#" class="publish">publish</a></td>
                        </tr>
                      -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class = "button-group">
            <div class = "form-popup" id="myForm">
                <button class="open-button" onclick="openForm()">Create Post</button>
                <form action = "/action_page.php" class = "form-container">
                    <h1>Create Post</h1>
                        <p>
                            <label for = "name"><b>Name</b></label>
                            <br>
                            <input type = "text" placeholder = "Enter Name" name = "name" required>
                            <br>
                        </p>
                        <p> 
                            <label>Choose A Topic</label>
                            <select id = "myList">
                                <option value = "1">one</option>
                                <option value = "2">two</option>
                                <option value = "3">three</option>
                                <option value = "4">four</option>
                            </select>
                            <!--<input style = "width: 300px;" id="topic" name= "topic" type="text" placeholder="Enter Topic">-->
                            <br>
                        </p>
                        <p>
                            <label for = "message"><b> Message: </b></label>
                            <br>
                            <input type = "text" placeholder = "Enter Message" name = "message" requiredstyle = "width: 300px; height:30vh;" rows="14" cols="10" wrap="soft">
                            <br> 
                        </p>

                  <button type = "submit" class = "btn">Create</button>
                  <button type = "submit" class = "btn cancel" onclick = "closeForm()">Close</button>
                </form>
            </div>
            <div class="box">
                <a class="createpostbtn" routerLink="/create-post" >Create Post</a>
            </div>
            
            <script>
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
            </script>
            <!--<div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Create Post</h2>
                    <label for="fname" class="floatLabel">First Name</label>
                    <br>
                    <input id="fname" name="fname" type="text">
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        hello.
                    </div>
                </div>
            </div>
            <a routerLink="/create-post" class="create-postbtn"><ul> Create Post</ul></a>-->
        </div>
    </div>
    </main>
</body>
