<body>
    <main>
    <div class="admin-wrapper">
        <!--left sidebar-->
        <div class="left-sidebar">
            <ul>
                <li><a routerLink='/create-post'>Create Post</a></li>
                <li><a routerLink='/admin'>Manage Posts</a></li>
                <li><a routerLink='/users'>Manage Users</a></li>
                <li><a routerLink='/topics'>Manage Topics</a></li>
                <li><a (click)="onLogout()" class="logout" style="color: red; cursor: pointer">Logout</a></li>
            </ul>
        </div>

        <!--admin content-->
        <div class="admin-content">
            <div class="content">
                <div *ngIf="userDetails">
                  <h3>Hello, {{userDetails.fname}} </h3>
                  <p style="font-style: italic;"><b>Username:</b> {{userDetails.username}} |
                  <b> Role:</b> {{userDetails.role}}
                  <b> Email:</b> {{userDetails.email}}</p>
                  <h5>Admin Dashboard: Manage Post</h5>
                </div>

                <table class="responsive-table highlight" style="overflow: scroll;">
                    <thead>
                        <th>Date Posted</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th></th>
                        <th>Publish Post</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts">
                            <td>{{post.timestamp | date :'dd - MMM - yyyy'}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.author}}</td>
                            <td>
                              <!-- edit button -->
                              <a class="action-btn edit" title="Edit or update Post" routerLink="/edit-post/{{post._id}}">
                                <i class="material-icons">edit</i> <!-- edit function has to be added -->
                              </a>
                              <!-- delete button -->
                              <a class="action-btn delete" title="Delete Post">
                                <i class="material-icons">delete</i> <!-- delete function has to be added -->
                              </a>
                            </td>
                            <td><a href="#" class="publish">publish</a></td>
                    </tbody>
                </table>
            </div>

        </div>
      </div>
    </main>
</body>
