
*{
box-sizing:border-box ;
}
 .recent-posts {
    width: 100%;
    float: left;
 }
 .recent-posts.single {
    background: rgb(241, 211, 211);
    padding: 20px 50px;
    border-radius: 5px;
}
.recent-posts .post {
    width: 50%;
    height: 210px;
    margin: 50px auto;
    border-radius: 5px;
    background: rgb(233, 202, 202);
    position: relative; 
}
.recent-posts .post .post-image {
    margin-left:25px;
    width: 35%;
    height: 100%;
    float: left;
    border-radius: 5px; 
}

.recent-posts.single .post-title {
    text-align: left;
    padding-bottom: 30px;
}
 .recent-posts .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #00152e;
    background: transparent;
    border-radius: 0px;
    color: #06162b;
    transition: .4s; 
 }
 .recent-posts .post .read-more:hover {
    background: #c3d0df;
    transition: .4s;
}
  .recent-posts .post .post-preview {
    width: 60%;
    float: right;
    padding: 10px; 
    text-decoration: none;
    
}
h1 {
    text-align: center;
}
/*mobile responsive*/
@media only screen and (max-width: 600px) {

     .recent-posts .post {
            height: auto;
        }
    
      .recent-posts.single {
            padding: 10px 20px;
        }
    
        .recent-posts .post .post-image {
            width: 100%;
        } 
    
         .recent-posts .post .post-preview {
            width: 100%;
        }
    
        .recent-posts .post .read-more {
            position: static;
            display: block;
            width: 100%;
            text-align: center;
        }

}
@media only screen and (max-width: 934px) {
    .recent-posts{
        width: 100%;
        padding: 10px;
    }
    .recent-posts .post {
        width: 100%;
    }

}

/* Adjust for responsiveness */
.topic-page-container {
    display: flex;
}

.topic-list {
    height: 500px;
    width: 30%;
    background-color: gold;
}

.item-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    background-color: beige;
    width: 70%;
}

.item-2 > h1 {
    text-align: left;
}



