<div id="secondary-nav">
    <ul>
      <li class="navlinks-2" routerLink="/trending">Trending Posts</li>
      <li class="navlinks-2" routerLink="/posts">Recent Posts</li>
      <li class="navlinks-2" routerLink="/tags">Topics</li>
    </ul>
  </div>

<div class="recent-posts">
    <h1 class="recent-post-title">TOPICS</h1>

    <div class="topic-page-container">
        <!--topic post 1-->
        <div class="topic-list">
            <ul>
                <li *ngFor="let topic of topics" (click)="showPost(topic._id, topic.topicName)">
                    {{topic.topicName}}
                </li>
            </ul>
        </div>
    
        <div class="item-2">
            <h1>{{topicName}}</h1>
            <h2 *ngIf="articlesIsEmpty">There are no articles for this topic.</h2>
                <div id="article" *ngFor="let article of articles">
                    <h2>{{article.title}}</h2>
                    <p>{{article.postDescription}}</p>
                    <a href="/posts">Read more</a>
                </div>
            

        </div>
        
            
                
    </div>
    
    
    
    
</div>