<!--<body>
<main>
<h1>Popup/Modal Windows without JavaScript</h1>
<div class="box">
	<a class="button" href="#popup1">Let me Pop up</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Here i am</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Thank to pop me out of that button, but now i'm done so you can close this window.
		</div>
	</div>
</div>
</main>
</body>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "modal">
        <div class="top-content">
            <div class = "left-text">Box</div>
        
            <span class = "close-icon"><i class = "fas fa times"></i></span>
            <div class = "fas fa-camera-retro"></div>
        </div>
        <div class = "bottom-content">
            <div class = "text">hello</div>
            <p>hi</p>
            <div class = "close-btn"></div>
        </div>
    </div>
</body>

<body>
    <main>
    <div class = "center">
        <label for = "name" class = "name"> Name </label>
        <input type = "text" id = "name" placeholder = "Enter your name" required>
        <br>
        <button type = "submit" class = "btn"> Submit</button>
        <div class = "content">
            <div class = "header">
                <h2> hello</h2>
                <label for = "click" class = "fas fa-times"></label>
            </div>
            <label for = "click" class = "fas fa-check"></label>
            <p> hello</p>
            <div class = "line"></div>
            <label for = "click" class = "close-btn">x</label>
        </div>
    </div>
    </main>
</body>-->

<body>
    <main>
        <form action="#" method="post">
            <h2> Create Post</h2>
            <hr>
                <p> 
                    <label for="name" class="floatLabel">Name</label>
                    <br>
                    <input style = "width: 300px;" id="name" name="name" type="text" placeholder="Enter Name">
                </p>
                <p> 
                    <label for="topic" class="floatLabel">Topic</label>
                    <br>
                    <input style = "width: 300px;" id="topic" name= "topic" type="text" placeholder="Enter Topic">
                </p>
                <p> 
                    <label for="message" class="floatLabel">Message</label>
                    <br>
                    <input id="message" name= "message" type="text" style = "width: 300px; height:30vh;" >
                </p>
                <hr>
                <p>
                    <input type="button" value="Submit" id="submit">
                </p>   
        </form>
    </main>
</body>
