<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel = "stylesheet" href = "create-post.component.css">
    <script src = "https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class = "center">
        <input type = "text" id = "message">
        <label for = "click" class ="click-me"> Submit</label>
        <div class = "content">
            <div class = "header">
                <h2> hello</h2>
                <label for = "click" class = "fas fa-times"></label>
            </div>
            <label for = "click" class = "fas fa-check"></label>
            <p> hello</p>
            <div class = "line"></div>
            <label for = "click" class = "close-btn">x</label>
        </div>
    </div>
</body>
</html>