<body>
    <main>
        <div class = "wrapper fadeInDown">
            
            <form>
                <h2 style = "font-family: Poppins, sans-serif;">Create Post</h2>
                <hr>
                    <input style = "width: 370px;" id="name" name="name" type="text" placeholder="Enter Name" autocomplete="off">
                    <div **ngIf="create-postForm.submitted && !name.valid">
                        <label class = "validation-message"> Please enter a name</label>
                    </div>
            
                <p>
                    <input style = "width: 370px;" id="name" name="topic" type="text" placeholder="Enter Topic" autocomplete="off">
                </p>
                <p>
                    <textarea id = "message" name = "message" type="text" style = "width: 370px; height:30vh;" rows="14" cols="10" wrap="soft" placeholder="Enter Your Message" ></textarea>
                </p>
                <p>
                    <input type = "submit" value = "submit">
                </p>
                <hr>
            </form>
        </div>
    </main>
</body>
